<main>
  <div class="position-relative">
    <section
      class="section section-lg section-hero section-shaped"
      style="height: 100vh"
    >
      <div class="shape shape-primary bg-landing"></div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <p class="lead text-white">SUPERSTAR STEELS</p>

              <p class="lead text-white">
                "Forging Strength, Building Tomorrow"
              </p>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2"
                  >*proudly promoted by - Super group</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/stock/carousel2.jpeg" class="img-fluid" />
          <!-- class="img-fluid floating" -->
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <h3>Our Mission</h3>
            <p>
              At Superstar Steels, we are dedicated to being a pioneering force
              in the steel manufacturing industry. Our mission is to
              consistently deliver high-quality steel products that exceed our
              customers' expectations. Through innovation, sustainable
              practices, and a commitment to excellence, we aim to contribute to
              the growth and progress of industries worldwide. We are driven by
              a passion for steel, and we strive to create lasting value for our
              customers, employees, partners, and the communities we operate in.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <div class="pr-md-5">
            <h3>Our Vision</h3>
            <p>
              Our vision at Superstar Steels is to lead the steel manufacturing
              sector with unwavering integrity, innovation, and global impact.
              We envision a future where our steel products stand as the
              foundation for infrastructural development, technological
              advancement, and economic prosperity. By embracing cutting-edge
              technologies, fostering a collaborative spirit, and upholding
              environmental responsibility, we aspire to be a catalyst for
              positive change in the industry. Our journey is guided by a vision
              of building not just structures, but also relationships and a
              sustainable tomorrow.
            </p>
          </div>
        </div>
        <div class="col-md-6 order-md-1">
          <img src="./assets/img/stock/carousel3.jpeg" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div
      style="
        background-image: url('./assets/img/stock/product.jpg');
        background-size: cover;
        background-position: center;
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 90vh;
      "
      id="products"
    >
      <div class="container">
        <div class="row justify-content-center text-center mb-md">
          <div class="col-lg-8">
            <h2 class="display-3" style="color: #ffffff">Our Products</h2>
            <p
              class="lead text-muted justify-content"
              style="color: #ffffff !important"
            >
              We take immense pride in delivering products that set industry
              standards. Our commitment to innovation, quality, and
              sustainability shines through in every coil, strip, and pipe we
              produce. Explore our product range and partner with us to build a
              future that's strong, resilient, and exceptional.
            </p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-3">
                <div class="card card-lift--hover bg-default shadow border-0">
                  <img
                    src="./assets/img/stock/HRCoil.jpeg"
                    class="card-img-top"
                    style="height: 200px"
                  />
                  <blockquote class="card-blockquote py-0">
                    <svg
                      preserveAspectRatio="none"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 583 95"
                      class="svg-bg"
                    >
                      <polygon points="0,52 583,95 0,95" class="fill-default" />
                      <polygon
                        points="0,42 583,95 683,0 0,95"
                        opacity=".2"
                        class="fill-default"
                      />
                    </svg>
                    <h6 class="display-4 font-weight-bold text-white">
                      H.R coils
                    </h6>
                  </blockquote>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card card-lift--hover bg-default shadow border-0">
                  <img
                    src="./assets/img/stock/CR Coils.jpeg"
                    class="card-img-top"
                    style="height: 200px"
                  />
                  <blockquote class="card-blockquote py-0">
                    <svg
                      preserveAspectRatio="none"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 583 95"
                      class="svg-bg"
                    >
                      <polygon points="0,52 583,95 0,95" class="fill-default" />
                      <polygon
                        points="0,42 583,95 683,0 0,95"
                        opacity=".2"
                        class="fill-default"
                      />
                    </svg>
                    <h6 class="display-4 font-weight-bold text-white">
                      C.R coils
                    </h6>
                  </blockquote>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card card-lift--hover bg-default shadow border-0">
                  <img
                    src="./assets/img/stock/CRStrips.jpeg"
                    class="card-img-top"
                    style="height: 200px"
                  />
                  <blockquote class="card-blockquote py-0">
                    <svg
                      preserveAspectRatio="none"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 583 95"
                      class="svg-bg"
                    >
                      <polygon points="0,52 583,95 0,95" class="fill-default" />
                      <polygon
                        points="0,42 583,95 683,0 0,95"
                        opacity=".2"
                        class="fill-default"
                      />
                    </svg>
                    <h6 class="display-4 font-weight-bold text-white">
                      C.R Strips
                    </h6>
                  </blockquote>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card card-lift--hover bg-default shadow border-0">
                  <img
                    src="./assets/img/stock/ewrpipes.jpeg"
                    class="card-img-top"
                    style="height: 200px"
                  />
                  <blockquote class="card-blockquote py-0">
                    <svg
                      preserveAspectRatio="none"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 583 95"
                      class="svg-bg"
                    >
                      <polygon points="0,52 583,95 0,95" class="fill-default" />
                      <polygon
                        points="0,42 583,95 683,0 0,95"
                        opacity=".2"
                        class="fill-default"
                      />
                    </svg>
                    <h6 class="display-4 font-weight-bold text-white">
                      EWR Pipes
                    </h6>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">Visionary Experts & Passionate Minds</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img
              src="./assets/img/theme/team-1-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              style="width: 200px"
            />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Sh. Subhash Chander Gupta </span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img
              src="./assets/img/theme/team-2-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              style="width: 200px"
            />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Sh. Rajat Gupta</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img
              src="./assets/img/theme/team-3-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              style="width: 200px"
            />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Sh. Rahul Gupta</span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>
