.bg-landing {
  background-image: url("/assets/img/stock/pexels-johannes-plenio-4460676.jpg");
  background-position: bottom;
  background-size: cover;  
  /* opacity: 0.8; */
}

ngx-parallax-scroll ::ng-deep .responsive-container {
  height: 300px;
}

@media (min-width: 768px) {
  ngx-parallax-scroll ::ng-deep .responsive-container {
    height: 600px;
  }
}

ngx-parallax-scroll ::ng-deep .multiple-container {
  height: 900px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-container{
  height: 100vh;
  position: relative;
}


.main-title{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}