<footer class="footer" id="contact">
  <section class="section section-lg p-0">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2 class="display-3">Get In Touch</h2>
          <p class="lead text-muted" style="margin-bottom: 3rem">
            Thank you for your interest in reaching out to us. We value your
            feedback, inquiries, and suggestions. Please feel free to get in
            touch with us using any of the following methods:
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="row justify-content-center">
            <div class="col-lg-12 mb-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-4">
                  <a href="mailto: marketingsuperstar@yahoo.com">
                    <div class="row">
                      <div
                        class="icon icon-shape icon-shape-primary rounded-circle"
                      >
                        <i class="ni ni-email-83"></i>
                      </div>
                      <div class="pl-4" style="margin-top: -10px">
                        <p
                          class="text-primary text-uppercase m-0"
                          style="font-size: 20px"
                        >
                          General Inquiries
                        </p>
                        <p
                          class="text-primary text-lowercase font-weight-bold m-0"
                        >
                          marketingsuperstar@yahoo.com
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mb-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-4">
                  <div class="row">
                    <div
                      class="icon icon-shape icon-shape-primary rounded-circle"
                    >
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <div class="pl-4" style="margin-top: -10px">
                      <p
                        class="text-primary text-uppercase m-0"
                        style="font-size: 20px"
                      >
                        Whatsapp us
                      </p>
                      <p
                        class="text-primary text-uppercase font-weight-bold m-0"
                      >
                        +91 9872759028
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mb-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-4">
                  <a href="tel:+91 9872759028">
                    <div class="row">
                      <div
                        class="icon icon-shape icon-shape-primary rounded-circle"
                      >
                        <i class="ni ni-mobile-button"></i>
                      </div>
                      <div class="pl-4" style="margin-top: -10px">
                        <p
                          class="text-primary text-uppercase m-0"
                          style="font-size: 20px"
                        >
                          Call us
                        </p>
                        <p
                          class="text-primary text-uppercase font-weight-bold m-0"
                        >
                          +91 9872759028
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12273.726508004887!2d72.9025863184979!3d19.12921512032179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7f189efc039%3A0x68fdcea4c5c5894e!2sIndian%20Institute%20of%20Technology%20Bombay!5e0!3m2!1sen!2sin!4v1687753373994!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <hr />
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ test | date : "yyyy" }}
          <a href="/" target="_blank">SUPERSTAR STEELS</a>.
        </div>
      </div>
      <div class="row col-md-6 justify-content-end p-0">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <p class="text-primary font-weight-bold mt-1 mx-3">Follow Us</p>
          </li>
          <li class="nav-item mr-2">
            <a
              target="_blank"
              href="https://twitter.com/creativetim"
              class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg"
              ngbTooltip="Follow us"
            >
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item mr-2">
            <a
              target="_blank"
              href="https://www.facebook.com/creativetim"
              class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg"
              ngbTooltip="Like us"
            >
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item mr-2">
            <a
              target="_blank"
              href="https://dribbble.com/creativetim"
              class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round"
              ngbTooltip="Follow us"
            >
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
          <li class="nav-item mr-2">
            <a
              target="_blank"
              href="https://github.com/creativetimofficial"
              class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg"
              ngbTooltip="Star on Github"
            >
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
